@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Regular.ttf");
    font-weight: 300;
  }
   @font-face {
    font-family:'Forum';
     src: url("./assets/fonts/Forum-Regular.ttf");
   }
   * {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a {
    color: #000;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    font-family: Ubuntu;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    scroll-behavior: smooth;

    font-size: 22px;
    font-family: "Roboto", sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }

 .section-title {
  font-family: Forum;
  font-weight: normal;
  line-height: 90px;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  
}
.section-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
}

.section-title--gold {
  color: #9d8665;
  position: relative;
}

.section-title--gold::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -29px;
  left: 0;
  background-color: #710707;
}

.section-title--gold-without-after-line {
  color: #9d8665;
}
.wrapper{
  margin: 0 auto;
  max-width: 1440px;
}







    /*  header section */






.header{
  
  background-color: #000000;
  color: #ffffff;
      
}

.header__logo{
  display: flex;
  align-items: center;
  text-transform: uppercase;

}

.header__logo-title{
font-family: 'Roboto';
color: white;
font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 31px;
letter-spacing: 5px;
text-transform: uppercase;
padding-left: 26px;
}

.header__wrapper{
display: flex;
flex-wrap: wrap;
align-items: flex-end;
justify-content: space-between;
padding: 60px 0;
}

.header__list{
  display: flex;
  flex-wrap: wrap;

}

.header__item{
  margin-right: 54px;
}

.header__item:last-child{
  margin-right: 0;
}

.header__link{
  font-family: 'Roboto';
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px; 
  letter-spacing: 2px;
  color: #FFFFFF;
}

.header__link:hover, .header__link:focus, .header__link:active{
opacity: 0.75;
}


    /*  header section */







    /* welcome section */
.welcome{
background-color: #000000;
color: #ffffff;
/* background-image: url(./assets/img/welcome/bg.png);
background-repeat: no-repeat;
background-size:1000px,750px; */
/* height: 842px; */
/* overflow: hidden;
background-position: calc(40% + 352px) 0%; */
}

.welcome__wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 59px;
}


.welcome__title{
  text-transform: uppercase;
  font-family: Forum, sans-serif;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 5px;
  line-height: 90px;
  background-color: transparent;
}
.welcome__content{
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 598px;
  margin-top: 150px;
  position: absolute;
  z-index: 2;
}
.welcome__wrapper-content{
  display: flex;
  position: relative;
}

.welcome__subtitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  padding-bottom: 75px;
  color: #FFFFFF;
}

.discover-form_btn{
width: 360px;
height: 75px;
left: 0px;
top: 0px;
background: #710707;
border-radius: 10px;
}

.discover-form_btn-title{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 26px;
letter-spacing: 2px;
color: #FFFFFF;
}

.discover-form_btn:hover,
.discover-form_btn :active {
  background: #460000;
  color: #000000;
  transform: scale(0.98);
}

.welcome__slider_control{
  display: flex;
  justify-content: center;
  gap: 55px;
  align-items: center;
  background-color: black;
  color: white;
  width: 601px;
  height: 120px;
  position: absolute;
  bottom: -59px;
  right: 0;
  padding-right: 13px;
}


.welcome__slider{
  height: 750px;
  width: 1000px;
  background: linear-gradient(
90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(./assets/img/welcome-slider/1.jpg) no-repeat;
  position: relative
}

.slides__amout{
  width: 76px;
}


.amout__item{
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider__items{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  margin: 47px;
}


.slider__item{
  background-color: white;
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

.slider__item:hover {
  background: #9D8665;
}

.slider__active {
  background-color:#D2B183;
}
.slider__current{
  margin-right: 84px;
}


.slider__arrows{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.btn__left{
  background: url(./assets/svg/btn/btnleft.svg);
  width: 30px;
  height: 8px;
  padding: 0px;
  transition: 0.3s;
}

.btn__right{
  background: url(./assets/svg/btn/btnright.svg);
  width: 30px;
  height: 8px;
  padding: 0px;
  transition: 0.3s;
}
/* welcome section */







/* visiting section */


.visiting{
background-color: #DBDBDB;
}

.visiting__title{
font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;
padding-bottom: 25px;
letter-spacing: 5px;
text-transform: uppercase;
color:rgba(157, 134, 101, 1);
padding-top: 75px;
position: relative;


}

.visiting__title::after {
content: "";
position: absolute;
width: 100%;
height: 3px;
bottom: -3px;
left: 0;
background-color: #710707;
}

.visiting-content{
display: flex;
flex-wrap: wrap;
gap: 0px 59px;
padding-bottom: 50px;

}
.visiting__item {
display: block;
flex: 1 1 calc((100% / 3) - 2rem);
color: #000000;
margin-top: 75px;
}



.visiting__item-title {
  position: relative;
  font-size: 32px;
}
  
  
.visiting__item-title::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  bottom: 20px;
  left: 0;
  background-color: #710707;
  transition: 0.5s all ease;
  }
  
.visiting__item-text{
font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 26px;
color: #000000;
padding-bottom: 10px;
}
.visiting__item:hover .visiting__item-title::after {
  width: 100%;
}
.visiting__item-subtext{
font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 21px;
color: #000000;
}

    /* visiting section */







.explore{
background: #030303;
}
.explore__wrapper{
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}
.explore__title{
  position: relative;
  color: #FFFFFF;
  padding-top: 75px;
  margin-bottom: 103px;
}
.explore__title::after {
  content: "";
  position: absolute;
  width: 660px;
  height: 3px;
  bottom: -32px;
  left: 0;
  background-color: #710707;
}
.explore__img{
  padding-top: 90px;
}

.explore__text{
  margin-top: 25px;
}
.explore__content{
  flex: 0 0 659px;

}

.slider{
  position: relative;
  overflow: hidden;
}
.slider img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
 
}
.explore__img-container{
  padding-top: 90px;
}

.explore__img_before{
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 50%;
  height: 100%;
  z-index: 2;
}
.explore__img_after{


  height: 100%;

}

.explore__text span{
  color: #9d8665;
}
.change{
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  width: 20px;
  /* width: 7px;
  height: 100%; */
  /* background-color: rgba(255, 255, 255, 1) */
  background: url(./assets/svg/btn/explore_slider.svg);
}
/* .change::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px; 
  left: 50%;
  top:50%;
  
  border: 7px solid rgb(255, 255, 255);
  border-radius: 50%;
  
  transform: translate(-50%,-50%);
} */



    /* --------------------section video---------------------- */


.video{
  padding-bottom: 71px;
}
.video__title{
  flex: 0 0 606px;
}
.video__text{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 38px;
display: flex;
align-items: center;
color: #000000;
text-align: left;
margin-left: 107px;
}

.video__description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
}



.video__player-slider{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.video__btn_slider{
width: 100%;
display: flex;
justify-content: center;
padding-top: 37px;
}
.video__menu{
width: 220px;
display: flex;
justify-content: center;
gap: 20px;
padding: 0px;
}

.video__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  
  
}

.video__btn:hover{
  filter: invert(60%) sepia(80%) saturate(100%) hue-rotate(
    358deg) brightness(70%) contrast(100%);
}
.video__btn-left{
  background: url(./assets/svg/btn/vector2.svg)no-repeat;
  width: 10px;
  height: 12px;
}
.video__btn-right{
  background: url(./assets/svg/btn/vector.svg)no-repeat;
  width: 10px;
  height: 12px;
}

.video__item{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999999;
  transition: 0.3s;
}
.video__item:hover{
  background: #2a2828;
}
.player{
  width: 1440px;
  height: 739px;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
.video__watch{
  width: 100%;
}

.btn__play{
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(20deg) brightness(100%)
  contrast(106%);
opacity: 1;
transition: 0.2s;
position: absolute;
top: 29%;
left: 42%;
background: url(./assets/svg/player/icon-play.svg) no-repeat;
width: 220px;
height: 220px;
}

.btn__play:hover {
  filter: invert(38%) sepia(3%) saturate(11%) hue-rotate(314deg)
    brightness(100%) contrast(87%);
  opacity: 0.5;
  cursor: pointer;
}

.player__control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 85px;
  padding-left: 28px;
  padding-right: 29px;
}

.player button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0);
}

.player button {
  transition: 0.3s;
}

.player button:hover {
  opacity: 0.5;
}

.btn__control-play {
  width: 23px;
  height: 31px;
  background-image: url('./assets/svg/player/icon-player-play.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.input__control-progress{
  width: 67%;
  background: linear-gradient(to right, #ff0000 0%, #ff0000 47%, #c4c4c4 47%, #c4c4c4 100%);
  border-radius: 0;
  height: 8px;
  transition: background 450ms ease-in;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.btn__control-vol {
  width: 38px;
  height: 31px;
  background-image: url('./assets/svg/player/icon-player-sound.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.input__control-vol{
  width: 11%;
  background: linear-gradient(to right, #ff0000 0%, #ff0000 32%, #c4c4c4 32%, #c4c4c4 100%);
  border-radius: 0;
  height: 8px;
  transition:  450ms ease-in;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.input__control-vol::-webkit-slider-thumb,
.input__control-progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: ew-resize;
  background: #a3a3a3;
  transition: 0.3s;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.input__control-vol::-webkit-slider-thumb:hover,
.input__control-progress::-webkit-slider-thumb:hover {
  background: #989898;
}

.player__control-fullsc {
  width: 35px;
  height: 35px;
  background-image: url('./assets/svg/player/icon-player-fullscreen.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
    /* --------------------section video---------------------- */







    
    /* --------------------section gallery---------------------- */
.gallery{
  background: #030303;
  position: relative;
  
  }

  .gallery__title{
    color: rgba(255, 255, 255, 1);
    margin: 0 0 75px;
    padding-top: 75px;
  }
  .picture__container{
    position: relative;
    max-height: 1960px;
    overflow-y: hidden;
  
  }

  .picture__container::after{
    position: absolute;
    content: "";
    inset: 0 0 0 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    pointer-events: none;
  }
  .picture__inner-container{
    --colGap: 36px;
    --colCount: 3;
    box-sizing: border-box;
    padding-top: 50px;
    height: 3046px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    column-gap: var(--colGap);
  }

  .gallery picture {
    display: block;
  }

  .picture-box{
    display: block;
    object-fit: cover;
    width: calc((100% - (var(--colCount) - 1) * var(--colGap)) / var(--colCount));
 
  }

  .picture-box img{
    width: 100%;
    display: block;
  }

  .picture-box:nth-child(3n + 2) {
    transform: translateY(-50px);
  } 
    /* --------------------section gallery---------------------- */

 



    
    /* --------------------section tickets---------------------- */

  .tickets {
    background-color: #ffffff;
  }
  
  .tickets__wrapper {
    padding: 71px 0;
    color: #000000;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
  }
  
  .tickets__title {
    font-size: 80px;
    color: rgba(157, 134, 101, 1);
    position: relative;
    margin-bottom: 103px;
  }
  
  .tickets__title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -32px;
    left: 0;
    background-color: #710707;
  }
  
  .tickets__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    justify-content: space-between;
   
    flex-direction: row;
  }
  
  .tickets__img {
            flex: 0 0 720px;
  }
  
  .tickets__buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
     flex: 0 0 660px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  
  .tickets__type-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  
  .tickets__type-title--right {
    text-align: right;
  }
  
  .tickets__type-title--last {
    letter-spacing: 1.65px;
    margin: 50px 0px;
  }
  
  .tickets__type {
  flex: 1 0 510px;
  order: 1;
  }
  
  .tickets__amount {
    flex: 0 0 150px;
    order: 2;
  }
  
  .tickets__amount-btn {
    margin-top: 10px;
    margin-bottom: 32px;
  }
  
  .tickets__amount-btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2px solid rgb(0, 0, 0);
    padding: 4px 14px;
    width: 150px;
  }
  
  .tickets__amount-btn-wrapper button {
    font-size: 32px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: transparent;
  }
  
  .tickets__amount-suptitle {
    margin-bottom: 16px;
  }
  
  .tickets__amount-number {
    all: unset;
    width: 3em;
    text-align: center;
  }
  
  .tickets__buy-link {
    width: 175px;
    height: 50px;
    font-weight: 300;
    font-size: 22px;
    color: #ffffff;
    background: #000000;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  .tickets__buy-link:hover,
  .tickets__buy-link :active {
    background: #9d8665;
    color: #030303;
    transform: scale(0.98);
  }
  
  .tickets__total {
 
    order: 3;
    margin-top: -146px;
    text-align: right;
  }
  
  .tickets .tickets__type-item-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 51px;
    cursor: pointer;
    user-select: none;
  }
  
  .tickets .tickets__type-item-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .tickets .tickets__type-item-checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
  }
  
  .tickets .tickets__type-item-container:hover input ~ .tickets__type-item-checkmark {
    background-color: rgb(0, 0, 0);
  }
  
  .tickets .tickets__type-item-container input:checked ~ .tickets__type-item-checkmark {
    background-color: transparent;
  }
  
  .tickets .tickets__type-item-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .tickets .tickets__type-item-container input:checked ~ .tickets__type-item-checkmark:after {
    display: block;
  }
  
  .tickets .tickets__type-item-container .tickets__type-item-checkmark:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
  }
    /* --------------------section tickets---------------------- */

  .parallax{
    width: 100%;
    height:  400px;
    background-image: url(".//../assets/img/parallax/webp/parallax.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .contacts__wrapper {
    padding: 78px 0;
  }
  
  .contacts__title {
    margin-bottom: 107px;
  }
  
  .contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .contacts__museum-name {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }
  
  .contacts__museum-name--last {
    margin-bottom: 50px;
  }
  
  .contacts__museum-link {
    display: block;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 25px;
  }
  
  .contacts__map {
    margin-top: -10px;
  }


  .footer {
    background-color: #030303;
  }
  
  .footer__wrapper {
    padding: 71px 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 700px;
  }
  
  .footer__logo {
    margin-top: -89px;
    flex: 0 0 190px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 0 7%;
    cursor: pointer;
  }

  .footer__text{
    color: #ffffff;
  }
  
  .footer__logo :hover,
  .footer__logo :active {
    color: #9d8665;
  }
  
  .footer__nav {
    display: flex;
    justify-content: space-between;
    flex: 0 0 360px;
    margin-left: 138px;
    margin-top: 10px;

  }
  
  .footer__nav-list {
    width: 517px;
  }
  
  .footer__nav-list .footer__nav-item {
    display: block;
    float: left;
    width: 50%;
  }
  
  .footer__nav-item :hover,
  .footer__nav-item :active {
    color: #9d8665;
  }
  
  .footer__link {
    color: #ffffff;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
  }
  
  .footer__links {

    flex: 0 0 341px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .footer__social-link {
    display: block;
    cursor: pointer;
    border: 1px solid #666666;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 0px #666666);
    border-radius: 50px;
  }
  
  .footer__social-link:hover {

    filter: drop-shadow(0px 0px 0px #9d8665);
  }
  
  .footer__social-link:hover .footer__social-link-icon {
    fill: #9d8665;
  }
  

  
.copyright {
  border-top: 3px solid #666666;
  margin-top: -11px;
}

.container_copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 105px;
  padding-top: 51px;
}

.copyright__item {
  font-weight: 200;
  font-size: 22px;
  line-height: calc(22 / 22);
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}

    /* -------------------------tickets__form---------------------------- */



.tickets__form {
  position: fixed;
  width: 1140px;
  height: 845px;
  background-color: rgba(255, 255, 255, 0.693);
  top:0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.tickets__form:target{
  opacity: 1;
  visibility: visible;
}
.close__btn {
  width: 25px;
  height: 25px;
  background:url(./assets/svg/form/Close.svg);
  position: absolute;
  top: 28px;
  right: 31px;
}
.form__wrapper {
  width: 970px;
  height: 633px;
  display: flex;
  justify-content: space-between;
}
.left_block {
}
.left__block_title {
}
.form__logo {
}
.tickets__title-wrapper {
}
.tickets__title {
}
.tickets__subtitle {
}
.left__block_form {
}
.left__block__date {
}
.tickets__date {
}
.tickets__time {
}
.left__block_contact {
}
.tickets__name {
}
.tickets__mail {
}
.tickets__tel {
}
.tickets__select {
}
.tickets__entry {
}
.tikets__container-entry {
}
.entry__title {
}
.wrapper__entry {
}
.basic {
}
.basic__text {
}
.basic__text__content {
}
.basic__span {
}
.tickets__choice__selector {
}
.basic__selector {
}
.tickets__choice__button {
}
.basic__button {
}
.tickets__choice__amount {
}
.basic__amount {
}
.right__block {
}
.right__block_container {
}
.right__wrapper-title {
}
.right__tickets-title {
}
.right__title {
}
.right__subtitle {
}
.title__list {
}
.title__items {
}
.title__list_data {
}
.title__list_text {
}
.title__list_time {
}
.title__list_type {
}
.right__block_img {
}
.right__block_total {
}
.right__block_result {
}
.right__block-basic {
}
.summary__text {
}
.basic__summary {
}
.basic__summary_text {
}
.basic__text_result {
}
.basic__result {
}
.right__total_value {
}
.right__total-text {
}
.total__text_content {
}
.right__total__summary {
}
.total__summary_content {
}
.right__block_card {
}
.front__card {
}
.front__card_container {
}
.visa_block {
}
.visa__left_content {
}
.card__nimber {
}
.card__number_text {
}
.card__number_input {
}
.card_date {
}
.card__date_text {
}
.card__date_container {
}
.card__date_day {
}
.card__date_year {
}
.visa__right__content {
}
.visa {
}
.number__card {
}
.card__name {
}
.card__name_text {
}
.card__name_input {
}
.back__card {
}
.back__card_container {
}
.cvc__container {
}
.cvc__text {
}
.cvc__input {
}
.after_input_content {
}
.btn_container {
}
.book_btn {
}